body {
  background-image: url(assets/home/background-home-desktop.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 55px;
  top: 64px;
  background: #0B0D17;
}
.navbar {
  background: #ffffff0a;
  backdrop-filter: blur(81.5485px);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: absolute;
  width: 830px;
  height: 96px;
  left: 610px;
  top: 40px;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
}
.first-list {
  margin-left: 123px;
}
hr {
  width: 473px;
  position: absolute;
  left: 167px;
  top: 80px;
  height: 1px;
  opacity: 0.25;
  border: 0;
  background-color: #FFFFFF;
  z-index: 1;
}
li {
  position: relative;
  margin-left: 48px;
  padding-top: 39px;
  text-transform: uppercase;
}
.nav-link {
  color: inherit;
  text-decoration: none;
}
.nav-link:hover{
  color: #D0D6F9;
}
.nav-link::before{
  position: absolute;
  content: '';
  display: block;
  height: 3px;
  background-color: #FFFFFF;
  top:93px;
  width: 0;
}
.nav-link:hover::before{
  width: 100%
}
h1 {
  position: absolute;
  height: 172px;
  width: 445px;
  left: -1%;
  right: 1.11%;
  top: calc(50% - 172px/2 - 47px);
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
  color: #FFFFFF;
  margin: 5rem;
}
h2 {
  position: absolute;
  height: 34px;
  width: 400px;
  left: 0.11%;
  right: 15.67%;
  top: calc(50% - 34px/2 - 174px);
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #D0D6F9;
  margin: 5rem;
}
.home {
  position: absolute;
  left: 100px;
  top: 450px;
}
.home-body {
  position: absolute;
  height: 128px;
  width: 444px;
  left: 0.11%;
  right: 1.22%;
  top: calc(50% - 128px/2 + 127px);
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
  margin: 5rem;
}

.circle-small {
  position: absolute;
  left: 1001px;
  top: 450px;
  height: 274px;
  width: 274px;
  background-color: white;
  border-radius: 50%;
}
.circle-big {
  position: absolute;
  left: 913px;
  top: 362px;
  height: 450px;
  width: 450px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;

}
.circle-big:hover{
  opacity: 0.15;
}
.explore {
  position: absolute;
  height: 37px;
  left: 22.63%;
  right: 23.36%;
  top: calc(40% - 37px/2 + 0.5px);
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  color: #0B0D17;
}
@media (max-width: 500px) {
  body {
    background-image: url(assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
