body {
  background-image: url(assets/technology/background-technology-desktop.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity {
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25
}

.technology-image {
  position: absolute;
  width: 515px;
  height: 527px;
  left: 925px;
  top: 272px;
}

.logo {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 55px;
  top: 64px;
  background: #0B0D17;
}

.navbar {
  background: #ffffff0a;
  backdrop-filter: blur(81.5485px);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: absolute;
  width: 830px;
  height: 96px;
  left: 610px;
  top: 40px;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
}

.top {
  width: 473px;
  position: absolute;
  left: 167px;
  top: 80px;
  height: 1px;
  opacity: 0.25;
  border: 0;
  background-color: #FFFFFF;
  z-index: 1;
}

.first-list {
  margin-left: 123px;
}

li {
  position: relative;
  margin-left: 48px;
  padding-top: 39px;
  text-transform: uppercase;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

.nav-link:hover {
  color: #D0D6F9;
}

.nav-link::before {
  position: absolute;
  content: '';
  display: block;
  height: 3px;
  background-color: #FFFFFF;
  top: 93px;
  width: 0;
}

.nav-link:hover::before {
  width: 100%
}

h1 {
  position: absolute;
  height: 64px;
  left: 0%;
  right: 0%;
  top: calc(50% - 64px/2 - 89.5px);
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #FFFFFF;
}

h2 {
  position: absolute;
  height: 34px;
  width: 382px;
  top: 192px;
  left: 166.5px;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #FFFFFF;
}

h3 {
  position: absolute;
  height: 19px;
  width: 170px;
  left: 0%;
  right: 68.09%;
  top: calc(50% - 19px/2 - 142px);
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #D0D6F9;
}

.technology-body {
  position: absolute;
  height: 192px;
  left: 0%;
  right: 5.53%;
  top: calc(50% - 192px/2 + 55.5px);
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
  margin-top: 50px;
}

.technology-content {
  position: absolute;
  width: 470px;
  height: 303px;
  left: 325px;
  top: 383px;
}

.dot {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  opacity: 0.25;
  text-align: center;
  margin-top: 0px;
}

.dot:hover {
  opacity: 1;
}

.dot-link {
  position: absolute;
  left: 90px;
  top: 330px;
}

.one {
  position: absolute;
  height: 37px;
  top: calc(50% - 37px/2 + 20px);
  left: 173px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.two {
  position: absolute;
  height: 37px;
  left: 170px;
  top: 549px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.three {
  position: absolute;
  height: 37px;
  left: 171px;
  top: 685px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
}
